


* {
    padding: 0;
    margin: 0;
}

/* Normal Color Theme */
body {background: #FEFEFE;}
body aside p:first-child {color: #111;}
aside p { color: #999; }
header { background: #D8D8D8; color: #333; text-shadow: 0 0 1px #777777; box-shadow: 0 0 0.2em #222; }
button[role=theme] {
    background: #1E1E1E;
    color: #E1E1E1;
}
button[role=generate] {
    background: #E1E1E1;
    font-weight: 600;
}
button[role=theme]:active {
    background: #2B2B2B;
}

button[role=generate]:active {
    background: #ccc;
    border: 1px solid #000;
    box-shadow: 0 1px 2px #888;
}

/* Dark Color Theme */
body.dark { background: #1E1E1E; }
body.dark body aside p:first-child { color: #F0F0F0; }
body.dark aside { background: #262626; }
body.dark aside p { color: #D8D8D8; }
body.dark header { background: #090909; color: #FFFFFF; text-shadow: 0 0 1px #D9D9D9; }
body.dark button[role=theme] {
    background: #FFFFFF;
    color: #292929;
    box-shadow: none;
}
body.dark button[role=generate] {
    background: #E1E1E1;
    font-weight: 600;
    box-shadow: none;
}
body.dark button[role=theme]:active {
    background: #2B2B2B;
}

body.dark button[role=generate]:active {
    background: #ccc;
    border: 1px solid #000;
}

/* Layout and other styles */
body {
    height: 100vh;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Trebuchet MS, Arial, sans-serif;
}

aside {
    position: absolute;
    right: 1em;
    bottom: 0;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    height: 20em;
    min-width: 8em;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em 1em 0 1em;
    line-height: 1.6;
    font-size: 80%;
    box-shadow: 0 0 0.2em #000 inset;
}

body aside p:first-child {
    font-weight: bold;
    font-style: normal;
}

main .settings div {
    margin: 0;
    padding: 0.48em;
    border: 2px solid #020202;
    border-radius: 0.2em;
    display: inline-block;
    text-align: left;
}

aside p {
    font-style: italic;
}

main {
    flex: 90%;
    flex-flow: column;
}

header {
    display: block;
    margin-bottom: 1em;
    padding: 0.6em;
    font-size: 300%;
    font-weight: 600;
    letter-spacing: 0.05em;
}

input[type="number"], select {
    margin: 0.2em 0 0.3em 0;
    border: 1px solid #000;
    vertical-align: middle;
    border-radius: 0.2em;
    padding: 0.3em 0.6em;
    cursor: pointer;
}

input[type="number"] {
    width: 3em;
}

button {
    border: 1px solid #000;
    border-radius: 0.2em;
    padding: 0.5em 0.8em;
    box-shadow: 0 2px 6px #888;
    transition: background 50ms, border 100ms;
    cursor: pointer;
}


button:hover {
    border: 1px solid #777;
}

button[role=theme]:active {
    background: #2B2B2B;
}

button[role=generate]:active {
    background: #ccc;
    border: 1px solid #000;
    box-shadow: 0 1px 2px #888;
}



footer {
    margin: 2em 0;
    font-style: italic;
    font-family: Arial;
    color: #aaa;
    letter-spacing: 2px;
    font-size: 80%;
    line-height: 1.4;
}

/* Focus Styles */
button:focus, input[type="number"]:focus, select:focus {
    outline: none;
    border: 1px solid #FF4E00;
}

/* Utility Styles */
.grey {
    color: #999;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
      width:  0.5em;
}

::-webkit-scrollbar-thumb {
  background: #D3D3D3;
  border: 1px solid #878787;
  border-radius: 1em;
}

::-webkit-scrollbar-track {
  background: #909090;
  box-shadow: 0 0 5px #000 inset;
}

body.dark ::-webkit-scrollbar-thumb {
  background: #010101;
  border: 1px solid #000;
  border-radius: 1em;
  box-shadow: 0 0 5px #333;
}

body.dark ::-webkit-scrollbar-track {
  background: #111;
  box-shadow: 0 0 5px #000 inset;
}

/* Responsive Modifications */

@media screen and (max-width: 38em) {
    aside {
        display: none;
    }
}